.app-container {
  background-color: #222222;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.input-area {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
}

.input-area input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #333;
  color: white;
  flex-grow: 1;
  box-sizing: border-box;
}

.analyze-button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.error {
  color: red;
  text-align: center;
}

.progress-bar-container {
  height: 10px;
  width: 100%;
  background-color: gray;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 1000px;
}

.progress-bar {
  height: 10px;
  background-color: lightgreen;
  position: absolute;
  left: 0;
  top: 0;
}

.content-container {
  margin-top: 20px;
   display: flex;
   justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1000px;
}
.navigation-buttons {
    display: flex;
  flex-direction: column;
  gap: 10px;
   margin-right: 20px;
}

.navigation-buttons button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}


.chessboard-container {
  display: flex;
  justify-content: center;
   margin-bottom: 10px;
}
.evaluation-best-move {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.evaluation-panel,
.best-move-panel {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
}

.panel-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.move-list-container {
  width: 300px;
  border: 1px solid #666;
  padding: 10px;
  overflow-y: auto;
   height: 100%;
  background-color: #333;
  color: white;
  position: relative;
  box-sizing: border-box;
}

.move-list-header {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eye-icon {
  font-size: 1em;
}